# ======================
# Gradle / Maven
# ======================
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
/target/

# ======================
# IDE / Editor
# ======================
# IntelliJ IDEA
/.idea/
/*.iml
/.iws
/.ipr
/.DS_Store

# Eclipse
/.project
/.classpath
/.settings/

# VSCode
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Environment / Secrets
# ======================
.env
*.properties
*.yml
